In [5]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\umesh\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [60]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [61]:
driver = webdriver.Chrome()

In [62]:
driver.get("https://www.shine.com/")

In [64]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [66]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [67]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [90]:
Title=[]
job_location=[]
company_name=[]
experience_required=[]

In [91]:
job_title= driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_title[0:10]:
    job=i.text
    Title.append(job)

In [96]:
company= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company[0:10]:
    comp=i.text
    company_name.append(comp)

In [97]:
location= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location[0:10]:
    loc=i.text
    job_location.append(loc)

In [98]:
experience= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience[0:10]:
    exp=i.text
    experience_required.append(exp)

In [99]:
print(len(job_location),len(company_name),len(experience_required),len(Title))

10 10 10 10

In [100]:
df = pd.DataFrame({'Title':Title,'Location':job_location,'Company Name':company_name,'Experience Required':experience_required})
df

,Title,Location,Company Name,Experience Required
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore\n+14,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore\n+9,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore\n+14,divya interprises,0 to 4 Yrs
6,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Urgently need a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

In [ ]:
#question 2

In [1]:
!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\umesh\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: outcome in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.shine.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [13]:
Title1=[]
job_location1=[]
company_name1=[]
experience_required1=[]

In [14]:
job_title1= driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_title1[0:10]:
    jobs=i.text
    Title1.append(jobs)
    
company1= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company1[0:10]:
    company=i.text
    company_name1.append(company)    
    
locations= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locations[0:10]:
    location=i.text
    job_location1.append(location)
    
experience1= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience1[0:10]:
    experience=i.text
    experience_required1.append(experience)

In [15]:
print(len(job_location1),len(company_name1),len(experience_required1),len(Title1))

10 10 10 10

In [17]:
df1=pd.DataFrame({'Title':Title1,'Location':job_location1,'Company Name':company_name1,'Experience Required':experience_required1})
df1

,Title,Location,Company Name,Experience Required
0,Data Scientist,Bangalore,skyleaf consultants,5 to 10 Yrs
1,Data Scientist Urgent Recruitment,Bangalore\n+14,divya interprises,0 to 4 Yrs
2,Required for Data Scientist,Bangalore,deuglo infosystem private limited,4 to 6 Yrs
3,Urgently need Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs
4,Data scientist Bangalore,Bangalore,seven geomax consulting private lim...,6 to 9 Yrs
5,Data Scientist,Bangalore,employberry consultants hiring for ...,3 to 6 Yrs
6,Hiring For Data Scientist,Bangalore\n+15,niharika enterprises,0 to 4 Yrs
7,Needed for the post Data Scientist,Bangalore\n+8,deuglo infosystem private limited,4 to 6 Yrs
8,Data Scientist,Bangalore\n+6,quiscon biotech,0 to 3 Yrs
9,Data Scientist,Bangalore\n+7,seven geomax consulting private lim...,6 to 9 Yrs

In [30]:
#question 3

driver = webdriver.Chrome()

In [31]:
driver.get("https://www.shine.com/")

In [37]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [38]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [39]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [42]:
loc_filter= driver.find_element(By.CLASS_NAME,"filter_filter_option_label__v_iAW")

In [43]:
sal_filter= driver.find_element(By.CLASS_NAME,"filter_filter_option_item__bvdpQ")

In [56]:

show_result=driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
show_result.click()

In [57]:
Title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [58]:
job_title2= driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_title2[0:10]:
    jobs1=i.text
    Title2.append(jobs1)
    
company2= driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company2[0:10]:
    company1=i.text
    company_name2.append(company1)    
    
locations1= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locations1[0:10]:
    location1=i.text
    job_location2.append(location1)
    
experience2= driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience2[0:10]:
    experience2=i.text
    experience_required2.append(experience2)

In [59]:
print(len(Title2),len(job_location2),len(company_name2),len(experience_required2))

10 10 10 10

In [60]:
df2 = pd.DataFrame({'Title':Title2,'Job Location':job_location2,'Company Name':company_name2,'Experience Required':experience_required2})
df2

,Title,Job Location,Company Name,Experience Required
0,Data Scientist,Delhi\n+6,quiscon biotech,0 to 3 Yrs
1,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi\n+6,quiscon biotech,0 to 1 Yr
3,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
4,Req. For Data Scientist -Reputed Data Analytic...,Delhi,seven consultancy,2 to 6 Yrs
5,Data Entry Delhi,Delhi,alpine manpower services,0 to 3 Yrs
6,Data Entry Delhi,Delhi,alpine manpower services,0 to 3 Yrs
7,For Senior Data Scientist-Reputed IT Industry,Delhi,seven consultancy,4 to 8 Yrs
8,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs
9,Data Entry Delhi,Delhi,js placement services,0 to 3 Yrs

In [1]:
#question 4

!pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\umesh\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: trio~=0.17 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: outcome in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

In [6]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [7]:
brand=[]
product_description=[]
price=[]
discount=[]

In [9]:
brands= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands:
    brandss=i.text
    brand.append(brandss)

In [10]:
len(brand)

40

In [11]:
search2=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
search2.click()

In [12]:
brands= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brands:
    brandss=i.text
    brand.append(brandss)

In [13]:
len(brand)

80

In [25]:
search3=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
search3.click()

In [26]:
search4=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
search4.click()search3=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
search3.click()

In [28]:
prices= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in prices:
    pricess=i.text
    price.append(pricess)

In [29]:
next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next.click()

In [30]:
prices= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in prices:
    pricess=i.text
    price.append(pricess)

In [31]:
len(price)

80

In [33]:
discounts= driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
for i in discounts:
    discountss=i.text
    discount.append(discountss)

In [34]:
next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next.click()

In [35]:
discounts= driver.find_elements(By.XPATH,'//div[@class="_3I9_wc"]')
for i in discounts:
    discountss=i.text
    discount.append(discountss)

In [36]:
len(discount)

80

In [37]:
#product description not able to fetch because only 33 products description is showing thats why length not able to match
#thats a reason dataframe not able to make due to the mismatch in length

#only 80 products data able to fetch because while clicking on next button 1st time it goes on next page but 2nd time it takes to the previous page.

In [38]:
df3 = pd.DataFrame({'Brand Name':brand,'Price':price,'Discounts':discount})
df3

       Brand Name Price Discounts
0            SRPM  ‚Çπ204    ‚Çπ2,599
1          PIRASO  ‚Çπ239    ‚Çπ1,499
2       Elligator  ‚Çπ179    ‚Çπ1,099
3   VINCENT CHASE  ‚Çπ599    ‚Çπ2,225
4        OPTRICKS  ‚Çπ538    ‚Çπ1,399
..            ...   ...       ...
75      Elligator  ‚Çπ306    ‚Çπ1,999
76         PIRASO  ‚Çπ263    ‚Çπ2,599
77       Fastrack  ‚Çπ679    ‚Çπ2,599
78  VINCENT CHASE  ‚Çπ499      ‚Çπ999
79           IDEE  ‚Çπ293    ‚Çπ1,999

[80 rows x 3 columns]

In [40]:
#question 5
driver = webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [61]:
Ratings=[]
review_summary=[]
full_review=[]

In [62]:
start = 0
end = 10
for page in range(start,end):
    rat= driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rat:
        Ratings.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [63]:
len(Ratings)

100

In [64]:
start = 0
end = 10
for page in range(start,end):
    review_s= driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_s:
        review_summary.append(i.text)
    next_button1=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button1.click()
    time.sleep(3)

In [65]:
start = 0
end = 10
for page in range(start,end):
    full_r= driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_r:
        full_review.append(i.text)
    next_button2=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button2.click()
    time.sleep(3)

In [66]:
print(len(Ratings),len(review_summary),len(full_review))

100 100 100

In [67]:
df5=pd.DataFrame({'Ratings':Ratings,'Review Summary':review_summary,'Full Review':full_review})
df5

,Ratings,Review Summary,Full Review
0,5,Terrific purchase,Value for money üòç
1,5,Classy product,Photos super
2,4,Terrific,Very very good
3,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
4,5,Wonderful,This is amazing at all
...,...,...,...
95,5,Terrific purchase,Value for money üñ§üñ§
96,5,Brilliant,very good camera quality
97,5,Fabulous!,It‚Äôs very good battery life and display and vi...
98,5,Excellent,NYC
99,5,Best in the market!,Damn this phone is a blast . Upgraded from and...

In [1]:
# question 6

!pip install selenium

import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

driver = webdriver.Chrome()

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\umesh\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio~=0.17 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: outcome in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
driver.get("https://www.flipkart.com/")

In [4]:
search_sneaker = driver.find_element(By.CLASS_NAME,"Pke_EE")
search_sneaker.send_keys('sneakers')

In [5]:
searchs=driver.find_element(By.XPATH,'//button[@class="_2iLD__"]')
searchs.click()

In [23]:
Brands=[]
Product_Description=[]
Price=[]

In [24]:
brand= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand:
    brandss=i.text
    Brands.append(brandss)

In [25]:
len(Brands)

40

In [26]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [27]:
brand= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand:
    brandss=i.text
    Brands.append(brandss)

In [28]:
len(Brands)

80

In [30]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button.click()
time.sleep(3)

In [31]:
brand= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand[0:20]:
    brandss=i.text
    Brands.append(brandss)

In [33]:
price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price:
    prices=i.text
    Price.append(prices)

In [35]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [36]:
price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price:
    prices=i.text
    Price.append(prices)

In [38]:
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button.click()
time.sleep(3)

In [39]:
price= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price[0:20]:
    prices=i.text
    Price.append(prices)

In [44]:
des= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in des:
    description=i.text
    Product_Description.append(description)

In [46]:
len(Product_Description)

37

In [47]:
#hi length is not matching in product description thats why not able to fetch the data for product description please help

In [48]:
df6=pd.DataFrame({'Brand Name':Brands,'Price':Price})
df6

         Brand Name   Price
0            BRUTON    ‚Çπ499
1          Magnolia    ‚Çπ449
2            BRUTON    ‚Çπ379
3          Nobelite    ‚Çπ299
4              aadi    ‚Çπ398
..              ...     ...
95           ADIDAS  ‚Çπ4,319
96             PUMA  ‚Çπ3,059
97             PUMA  ‚Çπ2,039
98     K- FOOTLANCE  ‚Çπ1,424
99  U.S. POLO ASSN.  ‚Çπ3,009

[100 rows x 2 columns]

In [61]:
driver = webdriver.Chrome()

driver.get("https://www.amazon.in/")

In [73]:
#Facing error while searching
search = driver.find_element(By.CLASS_NAME,"nav-search-field ")
search.send_keys('Laptop')

ElementNotInteractableException: Message: element not interactable
  (Session info: chrome=116.0.5845.111)
Stacktrace:
	GetHandleVerifier [0x00007FF6704752A2+57122]
	(No symbol) [0x00007FF6703EEA92]
	(No symbol) [0x00007FF6702BE25D]
	(No symbol) [0x00007FF6702F32B7]
	(No symbol) [0x00007FF6702F263B]
	(No symbol) [0x00007FF670316FDA]
	(No symbol) [0x00007FF6702EEB76]
	(No symbol) [0x00007FF6703171F0]
	(No symbol) [0x00007FF67032EB82]
	(No symbol) [0x00007FF670316DB3]
	(No symbol) [0x00007FF6702ED2B1]
	(No symbol) [0x00007FF6702EE494]
	GetHandleVerifier [0x00007FF67071EF82+2849794]
	GetHandleVerifier [0x00007FF670771D24+3189156]
	GetHandleVerifier [0x00007FF67076ACAF+3160367]
	GetHandleVerifier [0x00007FF670506D06+653702]
	(No symbol) [0x00007FF6703FA208]
	(No symbol) [0x00007FF6703F62C4]
	(No symbol) [0x00007FF6703F63F6]
	(No symbol) [0x00007FF6703E67A3]
	BaseThreadInitThunk [0x00007FFF8FDB7614+20]
	RtlUserThreadStart [0x00007FFF908A26B1+33]

In [74]:
search_lap=driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_lap.click()

In [80]:
Title_laptop=[]
Rating_laptop=[]
Price_laptop=[]

In [81]:
lap_title= driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in lap_title[0:10]:
    lap=i.text
    Title_laptop.append(lap)
    
rating_lap= driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in rating_lap[0:10]:
    rat=i.text
    Rating_laptop.append(rat)
    
price_lap= driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_lap[0:10]:
    pricelap=i.text
    Price_laptop.append(pricelap)

In [82]:
print(len(Title_laptop),len(Rating_laptop),len(Price_laptop))

10 10 10

In [83]:
df7=pd.DataFrame({'Title':Title_laptop,'Ratings':Rating_laptop,'Price':Price_laptop})
df7

                                               Title Ratings     Price
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...            64,990
1  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...            70,990
2  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...            89,990
3  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...            99,990
4  Lenovo [SmartChoice] IdeaPad Slim 3 Intel Core...            62,990
5  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...          1,15,990
6  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...            89,990
7  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...            52,990
8  Dell Inspiron 5630 13th Gen Laptop, Intel Core...            89,990
9  ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144H...            76,990

In [84]:
#question no 8 

driver = webdriver.Chrome()

driver.get("https://www.azquotes.com/")

In [85]:
clicktop=driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
clicktop.click()

In [86]:
quote=[]
author=[]
type_of_quote=[]

In [87]:
start = 0
end = 10
for page in range(start,end):
    authors= driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors:
        author.append(i.text)
    next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    next_page.click()
    time.sleep(3)

In [89]:
start = 0
end = 10
for page in range(start,end):
    quotes= driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        quote.append(i.text)
    next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    next_page.click()
    time.sleep(3)

In [90]:
start = 0
end = 10
for page in range(start,end):
    types= driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in types:
        type_of_quote.append(i.text)
    next_page=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]')
    next_page.click()
    time.sleep(3)

In [91]:
df8=pd.DataFrame({'Quotes':quote,'Authors':author,'Types of Quotes':type_of_quote})
df8

,Quotes,Authors,Types of Quotes
0,The essence of strategy is choosing what not t...,Michael Porter,"Inspirational, Life, Success"
1,One cannot and must not try to erase the past ...,Golda Meir,"Peace, War, Government"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Life, Strength, Courage"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Positive, Family, Trust"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"Inspirational, Life, Motivational"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [1]:
!pip install selenium
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\users\umesh\appdata\roaming\python\python39\site-packages (4.11.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.10.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: trio~=0.17 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from selenium) (0.22.2)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: wsproto>=0.14 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\umesh\appdata\roaming\python\python39\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#question no 9 

driver = webdriver.Chrome()

driver.get("https://www.jagranjosh.com/")

In [3]:
clickgk=driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge"]')
clickgk.click()

In [4]:
clickpm=driver.find_element(By.XPATH,'//a[@href="https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1"]')
clickpm.click()

In [6]:
search_pm=driver.find_element(By.XPATH,'//table[@style="height: 1678px;"]')

In [8]:
rows = search_pm.find_elements(By.TAG_NAME, "tr")

In [15]:
PM=[]

for row in rows:
    cells = row.find_elements(By.TAG_NAME, "td")
    row_data = [cell.text for cell in cells]
    PM.append(row_data)
    
    
columns = ['Serial No','PM Name','Born-Dead','Term of office','Remarks']  

df9=pd.DataFrame(PM, columns=columns)

In [16]:
df9

,Serial No,PM Name,Born-Dead,Term of office,Remarks
0,None,None,None,None,None
1,1.,Jawahar Lal Nehru,(1889‚Äì1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
2,2.,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
3,3.,Lal Bahadur Shastri,(1904‚Äì1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
4,4.,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
5,5.,Indira Gandhi,(1917‚Äì1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
6,6.,Morarji Desai,(1896‚Äì1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
7,7.,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
8,8.,Indira Gandhi,(1917‚Äì1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
9,9.,Rajiv Gandhi,(1944‚Äì1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
10,10.,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
11,11.,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
12,12.,P. V. Narasimha Rao,(1921‚Äì2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
13,13.,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
14,14.,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
15,15.,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 \n332 days,------
16,16.,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
17,17.,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
18,18.,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
19,19.,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [38]:
#question no 10

driver = webdriver.Chrome()

driver.get("https://www.motor1.com/")

In [28]:
search_car = driver.find_element(By.XPATH,"/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input")
search_car.send_keys('50 most expensive car')

In [29]:
clickcar=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
clickcar.click()

In [30]:
clickcar=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]')
clickcar.click()

In [31]:
Car_Name=[]
Car_Price=[]

In [32]:
carname= driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in carname[0:50]:
    cars=i.text
    Car_Name.append(cars)

In [39]:
len(Car_Name)

50

In [48]:
df10=pd.DataFrame({'Car Name':Car_Name})

In [49]:
df10

                              Car Name
0                  Aston Martin Valour
1                         McLaren Elva
2                          Czinger 21C
3                        Ferrari Monza
4                   Gordon Murray T.33
5                    Koenigsegg Gemera
6                          Zenvo TSR-S
7                   Hennessey Venom F5
8                      Bentley Bacalar
9        Hispano Suiza Carmen Boulogne
10              Bentley Mulliner Batur
11                        Deus Vayanne
12                         SSC Tuatara
13                         Lotus Evija
14                 Aston Martin Vulcan
15                          Delage D12
16                 Ferrari Daytona SP3
17                   McLaren Speedtail
18                        Rimac Nevera
19                       Pagani Utopia
20                Pininfarina Battista
21                  Gordon Murray T.50
22                Lamborghini Countach
23            Mercedes-AMG Project One
24                        Zenvo Aurora
25                 Aston Martin Victor
26         Hennessey Venom F5 Roadster
27                    Koenigsegg Jesko
28               Aston Martin Valkyrie
29           W Motors Lykan Hypersport
30                       McLaren Solus
31                    Lamborghini Sian
32                    Koenigsegg CC850
33     Bugatti Chiron Super Sport 300+
34                  Lamborghini Veneno
35                      Bugatti Bolide
36           Pininfarina B95 Speedster
37                     Bugatti Mistral
38                 Pagani Huayra Imola
39                        Bugatti Divo
40                 SP Automotive Chaos
41                    Pagani Codalunga
42                        777 Hypercar
43            Mercedes-Maybach Exelero
44                  Bugatti Centodieci
45             Bugatti Chiron Profil√©e
46                Rolls-Royce Sweptail
47            Bugatti La Voiture Noire
48              Rolls-Royce Boat Tail*
49  Rolls-Royce La Rose Noire Droptail

In [45]:
#hi price are not able to fetch please help me for same